{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
<title>Sobre Nosotros - Barber Shop Millenium</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style-sobrenosotros.css' %}" />
{% endblock %}


{% block body_superior %}
<body>
{% endblock %}
{% block content %}
<main class="container">
    <div class="titulocentral">
        <h1>Sobre Nosotros</h1>
    </div>

    <div class="sobrenosotros">
        <p>
            Barber Shop Millenium es más que una simple barbería: es el fruto del esfuerzo y la pasión de un 
            grupo de personas llegadas de Venezuela a Chile en 2018. Desde entonces, nos hemos 
            comprometido a ofrecer un servicio de primera calidad a nuestros clientes, creando un espacio 
            único y personalizado para cada uno de ellos. Nos especializamos en complicados cortes de 
            cabello, combinando destreza y calidad para establecer un vínculo de confianza con nuestros 
            clientes. 
            <br><br>
            Con nuestras raíces venezolanas, llevamos la calidez y la profesionalidad a cada 
            encuentro, invitando a nuestros clientes a disfrutar de momentos agradables y cómodos en 
            nuestra barbería. Además, nos esforzamos por ofrecer la misma o mejor calidad en nuestros 
            servicios con nuestras mejores herramientas y maquinarias de trabajo, junto con precios y ofertas 
            que hacen que cada corte sea una experiencia inigualable.

            <br><br>

            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube-nocookie.com/embed/nJIfAU4tKes?si=tCgXigMByRywLNes" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </p>
    </div>

<div class="mision">
<h1>Misión</h1>
<p>En Barber Shop Millenium, nuestra misión es mucho más que ofrecer servicios de barbería de alta 
    calidad. Nos esforzamos por ser mucho más que un lugar para cortarse el cabello; aspiramos a ser 
    un refugio donde nuestros clientes puedan encontrar un espacio de relajación, renovación y 
    confianza. Nos comprometemos a proporcionar servicios de calidad excepcional y atención 
    personalizada a cada cliente que entre por nuestras puertas. 
    <br><br>
    Creemos firmemente en la importancia de escuchar y comprender las necesidades individuales 
    de cada persona, para así ofrecer soluciones innovadoras que no solo mejoren su apariencia, sino 
    también su bienestar y satisfacción en general. Nuestro objetivo es crear una experiencia que 
    vaya más allá del simple acto de cortar el cabello, una experiencia que deje una impresión 
    duradera y positiva en la vida de nuestros clientes.</p>

</div>
<div class="vision">
<h1>Visión</h1>
<p>En Barber Shop Millenium, nuestra visión es trascender los límites de la barbería tradicional y 
    convertirnos en un punto de referencia para la excelencia en el servicio al cliente, el compromiso 
    con la comunidad y la búsqueda constante de la mejora continua. Nos esforzamos por ser 
    reconocidos como líderes en la industria de la barbería, no solo por la calidad de nuestros cortes 
    de cabello, sino también por el ambiente acogedor y la atención personalizada que ofrecemos a cada cliente. 
    Nuestra visión es crear un espacio donde la profesionalidad se combina con la calidez y la 
    autenticidad, donde cada visita a nuestra barbería se convierte en una experiencia memorable y 
    enriquecedora. Aspiramos a establecer relaciones sólidas y duraderas con nuestros clientes, 
    basadas en la confianza mutua y el respeto, y a contribuir de manera positiva al crecimiento y 
    desarrollo de nuestra comunidad a través de iniciativas sociales y ambientales que reflejen 
    nuestros valores y compromisos como empresa. En resumen, nuestra visión es ser mucho más 
    que una barbería; queremos ser un lugar donde la excelencia se encuentra con la humanidad, 
    donde la belleza se mezcla con la autenticidad, y donde cada cliente se siente valorado, apreciado y cuidado.</p>
</div>

<div class="objetivos">
<h1>Objetivos de la Organización</h1>
<ol>
    <li>Brindar experiencias únicas y personalizadas a cada cliente.</li>
    <li>Desarrollar y mantener relaciones sólidas con nuestros clientes, basadas en la confianza y la satisfacción.</li>
    <li>Innovar constantemente para adaptarnos a las necesidades cambiantes del mercado y superar las expectativas de nuestros clientes.</li>
    <li>Contribuir de manera positiva al crecimiento y desarrollo de nuestra comunidad a través de iniciativas sociales y ambientales.</li>
</ol>
</div>



</main>
{% endblock %}
