body {
    background-color: #292929;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.card {
    background-color: #333333;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 30px;
}

.form-group label {
    color: #ffffff;
    font-weight: bold;
}

.form-group input {
    background-color: #444444;
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-group input::placeholder {
    color: #bbbbbb;
}

.form-group input:focus {
    background-color: #555555;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-outline-primary {
    color: #ffffff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #292929;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-link {
    color: #ffffff;
    text-decoration: underline;
}

.btn-link:hover {
    color: #bbbbbb;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
